#zoomSlider .thumb {
    -fx-background-radius: 0;
    -fx-pref-width: 20px;
    -fx-pref-height: 10px;
}

#zoomSlider .thumb:hover {
    -fx-cursor: closed_hand;
}

#zoomSlider .track {
    -fx-background-color: #2F2F2F;
}

#zoomSlider .track:hover {
    -fx-cursor: hand;
}

#uiControl .button:hover {
    -fx-cursor: hand;
}

#bottomBarPane {
    -fx-background-color: rgba(255, 255, 255, 0.7);
}

#bottomBarPane .label {
    -fx-font-size: 10px;
    -fx-padding: 0 5 0 5;
}

#bottomBarPane .separator .line {
    -fx-border-width: 0;
}

#bottomBarPane .separator:vertical {
    -fx-background-color: rgba(0, 0, 0, 0.5);
}

#scalePane {
    -fx-border-width: 0 1 0 1;
    -fx-border-color: black;
    -fx-background-color: rgba(255, 255, 255, 0.7);
}

#informationPane {
    -fx-border-color: rgba(0, 0, 0, 0.2);
    -fx-background-color: rgba(255, 255, 255, 0.2);
}

#informationPane .label {
    -fx-text-fill: rgba(0, 0, 0, 0.4);
}

#informationPane #bounds {
    -fx-border-color: rgba(255, 0, 0, 0.4);
    -fx-background-color: rgba(255, 255, 255, 0.4);
}

#menuPane {
    -fx-background-color: rgb(180, 180, 180);
}

#logoText {
    -fx-font-family: Arial;
    -fx-font-size: 50;
}

#menuOverlay {
    -fx-background-color: rgba(255, 255, 255, 0.5);
}

#loadingBar .progress {
    -fx-padding: 10;
}

#loadingBar .tick {
    -fx-padding: 30;
}

#loadingBar .percentage {
    -fx-font-size: 20;
}

#statusLabel {
    -fx-font-family: Arial;
    -fx-font-size: 15;
}

#directionsButton{
    -fx-graphic: url("../icons/directions_from_figma_little.png");
}

#searchForAddress{
    -fx-graphic: url("../icons/search_icon.png");
}

#backButton{
    -fx-background-color: rgba(220, 20, 60, 100);
    -fx-graphic: url("../icons/back_icon.png");
}

#searchNav{
    -fx-graphic: url("../icons/directions_from_figma_2.png");
}

#switchButton{
    -fx-graphic: url("../icons/switch_icon.png");
}

#carNavToggleButton{
    -fx-graphic: url("../icons/car_vroom_icon_bigger.png");
}

#bikeNavToggleButton{
    -fx-graphic: url("../icons/bike_icon_bigger.png");
}

#walkNavToggleButton{
    -fx-graphic: url("../icons/walk_icon_bigger.png");
}