.root {
    -fx-accent: #1e74c6;
    -fx-focus-color: -fx-accent;
    -fx-base: #373e43;
    -fx-control-inner-background: derive(-fx-base, 35%);
    -fx-control-inner-background-alt: -fx-control-inner-background ;
}

.label {
    -fx-text-fill: lightgray;
}

.text-field {
    -fx-prompt-text-fill: gray;
}

.button:hover{
    -fx-text-fill: white;
}

.separator *.line {
    -fx-background-color: #3C3C3C;
}

#copyRight {
    -fx-background-color: rgba(128, 128, 128, 0.7);
    -fx-text-fill: rgba(211, 211, 211, 0.7);
}

#informationPane .label {
    -fx-text-fill: rgba(255, 255, 255, 0.4);
}

#scalePane {
    -fx-border-color: white;
    -fx-background-color: rgba(128, 128, 128, 0.7);
    -fx-text-fill: lightgray;
}